<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="env-production emoji-size-boost page-responsive page-profile">
    {{ partial "header" . }}
    <div class="application-main d-flex flex-auto flex-column" data-commit-hovercards-enabled="" data-color-mode="light">
        <main>
            <div class="bg-gray-dark text-white py-5 text-center">
                <div class="pt-5 text-bold mx-2 mt-0" style="font-size: 100px; margin-bottom: 20px; line-height: 0">
                    4<span class="not-found-octocat-wrapper d-inline-block mx-2 bg-gray-dark position-relative">
				<img src="{{ "images/shipp_invis.png" | relURL }}" 
					width="72" 
						alt="0">
                    </span>4
                </div>
                <div class="pb-5">
                    <h4 class="mb-0">Not Found</h4>
                </div>
            </div>
        </main>

    </div>

</body>

</html>
